.gameInfoContainer {
  display: flex;
}

.gameDetail {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.gameInfo {
  margin-top: 50px;
}

.detailsLinksContainer {
  display: flex;
  justify-content: space-between;
}

.gameAchievementsContainer {
  display: flex;
  flex-flow: row wrap;
}

.gameAchievementsContainer > div {
  margin: 10px;
}