.userInfoContainer {
  display: flex;
  margin-top: 15px;
}

.userAchievementUnit {
  margin-left: 15px;
}

.modButtonContainer {
  display: flex;
}

.userAchievement {
  display: flex;
  justify-content: space-between;
}