.gamesList {
  display: flex;
  margin-left: 50px;
}

.gameCard {
  margin-right: 50px;
  margin-top: 50px;
}

.gameImg {
  height: 280px;
}

.searchAndSort {
  margin-left: -25px;
  margin-right: 25px;
  border: 1.5px solid black;
  margin-top: 15px;
  padding: 10px;
}

.form-check-input {
  margin-left: 5px !important;
}

.sortContainer {
  margin-top: 15px;
}

.listText {
  width: 200px;
}

.gameListing {
  display: flex;
}