.gamesList {
  display: flex;
  flex-flow: row wrap;
  min-height: 92vh;
}

.gameCard {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.gameImg {
  height: 280px;
}

.searchAndSort {
  margin-right: 25px;
  border-right: 1.5px solid black;
  margin-top: 0;
  padding: 10px;
  background-color: white;
  margin-right: 0;
  // position: relative;
  // top: 0;
  // left: 0;
}

.form-check-input {
  margin-left: 5px !important;
}

.sortContainer {
  margin-top: 15px;
}

.listText {
  width: 200px;
}

.gameListing {
  display: flex;
}

.infoContainer {
  display: flex;
  flex-flow: column;
}

.gameListingContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
  justify-content: center;
}

.userInfoContainer {
  display: flex;
  flex-flow: column wrap;
  border: 1.5px solid black;
  border-radius: 3px;
  padding: 5px;
  background-color: khaki;
  box-shadow: 0 2px 2px;
}

.userInfoMisc {
  font-size: 0.9em;
  margin-bottom: 0;
}

.userInfoDate {
  font-size: 0.9em;
  margin-top: 10px;
}

.userInfoContainer {
  padding: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.userInfoTitle {
  font-size: 1.2em;
}

.gameListRow {
  width: 100%;
}

.listProgress {
  width: 200px;
}