.userOverview {
  height: 200px;
  border-bottom: 1.5px solid black;
  background-image: url('../../images/tabletop.jpg');
  background-size: cover;
}

.userInfoDiv {
  margin-top: 20px;
  background-color: khaki;
  border: 1.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  box-shadow: 0 2px 2px;
}

.profilePic {
  width: 100px;
  height: 100px;
}

.overviewAchievement {
  margin-left: 20px;
}

.profileRight {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.picChange {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.picBtn {
  margin-left: 5px;
  margin-top: 5px;
}