.userOverview {
  min-height: 200px;
  border-bottom: 1.5px solid white;
  background-image: url('../../images/tabletop.jpg');
  background-size: cover;
  padding-bottom: 15px;
}

.userInfoDiv {
  margin-top: 20px;
  background-color: khaki;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  box-shadow: 0 1px 1px;
  color: black;
}

.profilePic {
  width: 100px;
  height: 100px;
}

.overviewAchievement {
  margin-left: 20px;
}

.profileRight {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 150px;
}

.picChange {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.picBtn {
  margin-left: 5px;
  margin-top: 5px;
}

.userOverview {
  .achievement {
    max-width: 800px;
  }
}

#picInput {
  width: 140px;
}