.recentAchievements {
  border: 1.5px solid black;
}

.submitAchievementContainer {
  border: 1.5px solid black;
}

.achievementsUpper {
  height: 350px;
}

.recentAchievementsTitle {
  text-align: center;
  font-size: 2em;
}

.myAchievementsLower {
  display: flex;
}