.recentAchievements {
  border: 1.5px solid white;
}

.submitAchievementContainer {
  border: 1.5px solid white;
  color: white;
}

.achievementsUpper {
  border-bottom: 1.5px solid white;
}

.myAchievementsLower {
  background-color: khaki;
}

.recentAchievementsTitle {
  text-align: center;
  font-size: 1.6em;
  margin-top: 10px;
}

.myAchievementsContainer {
  display: flex;
  justify-content: center;
}

.recentAchievementsContainer {
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  overflow-y: auto;
  color: white;
}

.recentAchievementsContainer > div {
  margin: 10px;
}

.myAchievementsTitle {
  font-size: 1.3em;
  text-align: center;
  margin-top: 10px;
}

.recentAchievementsTitle, .myAchievementsTitle {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

.myAchievements {
  .achievement {
    width: 400px;
  }
}