.gamerCard {
  height: 140px;
  line-height: 1;
  width: 400px;
  margin-left: 20px;
  border: none !important;
  padding: 10px;
  background-color: black;
  color: white;
}

.gamerCardBody {
  padding: 10px !important;
}